doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        types:
            uuid: 'Ramsey\Uuid\Doctrine\UuidType'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            Domain\Cart:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/config/mappings/Cart'
                prefix: 'App\Domain\Cart'
                alias: App
            Domain\Product:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/config/mappings/Product'
                prefix: 'App\Domain\Product'
                alias: App

doctrine_migrations:
    migrations_paths:
        'DoctrineMigrations': '%kernel.project_dir%/migrations'
