imports:
  - { resource: 'services/Product/*' }
  - { resource: 'services/Cart/*' }

parameters:

services:
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  App\:
    resource: '../src/*'
    exclude: [
        '../src/{Domain,Kernel.php}',
        '../src/{Application/*}'
    ]

  # Controllers
  App\UI\Product\Controller\:
    resource: '../src/UI/Product/Controller/*'
    tags: [ 'controller.service_arguments' ]

  App\UI\Cart\Controller\:
    resource: '../src/UI/Cart/Controller/*'
    tags: [ 'controller.service_arguments' ]
