services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\Domain\Product\Products: '@App\Infrastructure\Product\DoctrineProducts'

  App\Domain\Product\Currencies: '@App\Infrastructure\Product\DoctrineCurrencies'